
@font-face {
    font-family: 'Inter-light';
    src: url('../fonts/Inter-Light.ttf') format("truetype");
}



@font-face {
    font-family: 'Inter-medium';
    src: url('../fonts/Inter-Medium.ttf') format("truetype");
}




body {
    background-image: url(../images/computer_background.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center;
    background-attachment: fixed;
 
   }

h1{
    width: 788px;
    height: 123px;
    position: absolute;
    top:  30%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    font-family: "Inter-medium";
    font-style: normal;
    font-weight: 100;
    font-size: 128px;
    line-height: 155px;
    text-align: center;
    color: #F2F4F3;

}

p {
    width: 848px;
    height: 34px;
    position: absolute;
    top:  45%;
    left: 50%;

    transform: translate(-50%,-50%);
    font-family: 'Inter-light';
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 44px;
    text-align: center;
    color: #F2F4F3;

}

.icon {
    width: 60px;
    height: 60px;
    vertical-align: middle;

}

.google-btn{
    position: absolute;
    width: 300px;
    height: 87px;
    top:  60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.google-btn button{
    width: 300px;
    height: 80px;
    text-align: center;
    font-family: 'Roboto' 'sans-serif';
    font-size: 18px;
}


#new-buttons{
    display: none;
}

.subs-btn{
    position: absolute;
    width: 300px;
    height: 87px;
    top:  60%;
    left: 65%;
    transform: translate(-50%,-50%);

}

.likes-btn{
    position: absolute;
    width: 300px;
    height: 87px;
    top:  60%;
    left: 35%;
    transform: translate(-50%,-50%);

}