<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Youtube-API</title>
    <title>Youtube Stats - Index</title>
</head>
<body>


<div id="content">
    <h3 style="text-align:center;">User Stats using Youtube API</h3>

    <!--            <form action="/index" method="post">-->
    <!--                <button value="subscriptions" name="sub" onclick="loading();">Subscriptions</button>-->
    <!--                <button value="liked_pl" name="liked" onclick="loading();">Liked Playlists</button>-->
    <!--            </form>-->
    {% if pref %}
    <p>{{pref}}</p>
    {% else %}
    <p></p>
    {% endif %}

</div>
</body>
</html>