<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Youtube Stats - Index</title>

        <style>

            div#loading {
                width: 500px;
                height: 500px;
                display: none;
                margin:auto;
                cursor: wait;
                }
        </style>
    </head>
    <body>
        <script>
            function loading(){
                document.getElementById('loading').style.display = "block";
                document.getElementById('content').style.display = "none";
                }
        </script>
        <div id="loading"><img alt="Loading icon" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif"></div>
        <div id="content">
            <h3 style="text-align:center;">User Stats using Youtube API</h3>
            <form action="/index" method="post">
                <input type="submit" value="Subscriptions" name="sub" onclick="loading();" />
                <input type="submit" value="Liked Playlists" name="liked" onclick="loading();" />
            </form>
            {% if pref %}
                <p>{{pref}}</p>
            {% else %}
                <p></p>
            {% endif %}
        </div>
    </body>
</html>